<header class="header">
  <div class="cardIphone" routerLink="/iphone-calc">
    <h2 class="link__iphone">
      Iphone <br />
      calculator
    </h2>
    <img
      class="iphone-calc__image"
      src="/assets/iphone.png"
      alt="iphone calc image"
    />
  </div>
  <div class="cardConverter" routerLink="/converter">
    <h2 class="link__converter">
      Currency <br />
      Converter
    </h2>
    <img
      class="converter__image"
      src="/assets/converter.png"
      alt="iphone calc image"
    />
  </div>
</header>
