.link {
  color: white;
  margin: 10px auto;
  text-decoration: none;
}

section {
  width: 350px;
  height: 300px;
  border-radius: 12px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 50px auto;
  padding: 0 20px;

  .form-field {
    width: 250px;
  }

  h1 {
    font-size: 2em;
  }

  .label {
    color: black;
  }

  input {
    width: 230px;
    padding: 15px 12px;
    outline: none;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 12px;
    font-size: 18px;
  }

  .value {
    font-size: 25px;
    margin-top: 20px;
    color: white;
  }
}

@media screen and (min-width: 400px) {
  section {
    width: 400px;
    height: 350px;
    background-color: rgb(13, 13, 13);
    border-radius: 20px;
    padding: 20px;
    margin: 40px auto;

    .value {
      color: green;
    }
  }
}
