body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(177, 122, 18);
  background: radial-gradient(
    circle,
    rgba(177, 122, 18, 1) 0%,
    rgba(0, 0, 0, 0.9220938375350141) 73%
  );
  color: white;
  font-family: Helvetica;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
